*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body{
    margin: 0;
}

/* Header */
header{
    display: flex;
    margin: 0;
    background-color: #1f2937;
    gap: 10%;
    justify-content: space-around;
}
.header-item, .secondary-text, .note-text, .footer-text{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
.header-item:hover{
    background-color: #E5e7eb;
    color: #1f2937;
}
.header-logo, .note-title{
    font-size: 24px;
    color: #f9faf8;
}
.header-list{
    display: flex;
    gap: 20px;
}
/* section one */
.title{
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    height: 30px;
    width: 100px;
}

.section.one{
    padding: 100px 20%;
    background-color: #1f2937;
}
.content{
    display: flex;
    gap: 50px;
}
.image-space{
    display: flex;
    width: 50%;
    background-color: gray;
    justify-content: center;
}
/* section two */
.section.two{
    padding: 50px 10px 100px;
}
.information-header{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-style: bold;
    
} 
.illustration-space{
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: auto;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    margin: 0 ;
    flex: 1;
}
.second{
    justify-content: center;
    gap: 5%;
}
.image-subtext{
    text-align: center;
}
/* Section three */
.section.three{
    background-color: #E5e7eb;
    padding: 50px 20%;
    display: flex;
    align-items: center;
}
.quote{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}
.author{
    text-align: right;
}
/* Section four */
.section.four{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-blue{
    display: flex;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
/* Footer */
footer{
    background-color: #1f2937;
    display: flex;
    height: 100px;
    align-items:center ;
    justify-content: center;
}
