*{
    /* border: 1px solid red; */
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* Header */
header{
    display: flex;
    margin: 0;
    background-color: #1f2937;
    gap: 10%;
    justify-content: space-around;
}
.header-item, .secondary-text{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-list{
    display: flex;
    gap: 20px;
}
/* section one */
.title{
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    height: 30px;
    width: 100px;
}

.section.one{
    padding: 100px 20% 100px;
    background-color: #1f2937;
}
.content{
    display: flex;
    gap: 10px;
}
.image-space{
    display: flex;
    width: 50%;
    background-color: gray;
    justify-content: center;
}
/* section two */
