*{
    border: 1px solid red;
    box-sizing: border-box;
}
body{
    margin: 0;
}
/* Header */
header{
    display: flex;
    margin: 0;
    background-color: #1f2937;
    gap: 10%;
    justify-content: space-around;
}
.header-item, .secondary-text{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}
.header-logo{
    font-size: 24px;
    color: #f9faf8;
}
.header-list{
    display: flex;
    gap: 20px;
}
/* section one */
.title{
    font-size: 48px;
    font-style: bold;
    color: #f9faf8;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    height: 30px;
    width: 100px;
}

.section.one{
    padding: 100px 20%;
    background-color: #1f2937;
}
.content{
    display: flex;
    gap: 10px;
}
.image-space{
    display: flex;
    width: 50%;
    background-color: gray;
    justify-content: center;
}
/* section two */
.section-two{
    padding: 50px 10px 100px;
}
.information-header{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-style: bold;
    
} 
.illustration-space{
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    flex: 1;
}
.second{
    justify-content: space-between;
}
.image-subtext{
    text-align: center;
}
/* Section three */
.section-three{
    background-color: #E5e7eb;
    padding: 50px auto;
}
.quote{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}
.author{
    text-align: right;
}